.page-1 {
    margin: auto;
    width: 50%;
    text-align: center;
}

.loading {
    margin: auto;
    width: 50%;
    text-align: center;
    display: none;
}

.image {
    margin: auto;
    width: 50%;
    text-align: center;
}

.image > img{
    display: none;
}

.image > canvas{
    display: none;
    position: relative;
   /* height: 800px; */
}

  .popup_div {
    visibility: hidden;
    width: 180px;
    height: 20px;
    margin-left: -80px;
    margin-top: -40px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
  }

  .popup_div::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  #close{
    color: white;
    background-color: red;
    text-align: center;
    position: inherit;
    display: inline;
    margin-left: 62px;
    margin-top: -9px;
    height: 15px;
    width: 15px;
    font-size: 10px;
    padding: initial;
  }
  
  #remove_rect{
    color: white;
    background-color: #0926ff;
    text-align: center;
    position: inherit;
    display: none;
    margin-left: 53px;
    margin-top: 7px;
    height: 19px;
    width: 34px;
    font-size: 10px;
    padding: initial;
  }

  #submit{
    color: white;
    background-color: rgb(10, 73, 102);
    display: none;
    height: 19px;
    width: 34px;
    position: relative;
    font-size: 10px;
    padding: initial;
    margin-top: 10px;
    width: 250px;
    height: 25px;
    font-size: 15px;
  }

  #Popup_text_1{
    visibility: inherit;
    background-color: inherit;
    color: inherit;
    text-align: inherit;
    position: inherit;
    width: 45px;
    height: 20px;
    margin-left: -85px;
    margin-top: -5px;
  }

  #Popup_text_2{
    visibility: inherit;
    background-color: inherit;
    color: inherit;
    text-align: inherit;
    position: inherit;
    width: 30px;
    height: 20px;
    margin-left: -30px;
    margin-top: -5px;
  }
  #Popup_text_3{
    visibility: inherit;
    background-color: inherit;
    color: inherit;
    text-align: inherit;
    position: inherit;
    width: 30px;
    height: 20px;
    margin-left: 10px;
    margin-top: -5px;
  }

  #overlay {
    position: relative;
    display: none;
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }